logs
project/project
project/target
target/coffeescript
target/jshint
target/less
target/*SNAPSHOT-assets.jar
target/resolution-cache
target/scala-2.11
target/specs2-reports
target/streams
target/test-reports
target/web
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.db
*.~*
