@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, imageData: List[String])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Documents", "Show rendered Document") {


<br>

<div height="30">
    <a href="/gidsapi/docPage"><button class="btn-primary"> Back to Documents page</button></a>
    Document pages:
    <ul id="docpages" class="pagination">
    @for(num <- 0 until imageData.length) {
        @if(num == 0) {
          <li id="@num"><a href="#" onclick='pageNav("@imageData(num)")'>Job info</a></li>
         } else {
          <li id="@num" ><a href="#" onclick='pageNav("@imageData(num)")'>@num</a></li>
         }
        }
    </ul>
</div>
<br>

<hr/>
<div style="background-color:lightgrey;">
  <div id="svg" style="padding: 20px;">
        No image is loaded
  </div>

</div>


<script>

function readSvg(resp) {
  document.getElementById("svg").innerHTML = resp;
};

function pageNav(url) {
  console.log("pageNav got url of "+url);
  getFromHttp("GET", "/gidsapi/svg/"+url, readSvg);
};

document.addEventListener("DOMContentLoaded", function() {
  var s = "@imageData(1)";
  pageNav(s);
});

</script>
}
