@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, imageData: List[String])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Documents", "Show rendered Document") {


<br>

<div height="30">
    <a href="/gidsapi/docPage"><button class="btn-primary"> Back to Documents page</button></a>
    Document pages:
    <ul id="docpages" class="pagination">
    @for(num <- 0 until imageData.length) {
        @if(num == 0) {
          <li id="@num"><a href="#" onclick='pageNav("@imageData(num)")'>Job info</a></li>
         } else {
          <li id="@num" ><a href="#" onclick='pageNav("@imageData(num)")'>@num</a></li>
         }
        }
    </ul>
</div>
<br>

<hr/>
<div id="renderpane" style="height:11in;background-color:lightgrey;">
    <object id="pdf" width="100%" height="100%" style="padding: 20px;" data="">No PDF is loaded</object>
</div>


<script>

function pageNav(url) {
  console.log("pageNav got url of "+url);
  document.getElementById("pdf").data = "/gidsapi/pdf/"+url;
  container = document.getElementById("renderpane");
  cont = container.innerHTML;
  container.innerHTML = cont;
};

document.addEventListener("DOMContentLoaded", function() {
  var s = "@imageData(1)";
  pageNav(s);
});

</script>
}
